<%- include ("partials/header.ejs") %>

<h2 class="about">About</h2>
<p class="about">
    This is a captsone project from the course "<strong>The Complete 2024 Web Development Bootcamp</strong>" from <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/#instructor-1">Dr. Angela Yu</a>.
    <br> <br>
    I'm using 2 API's from the OpenLibrary, one for getting a book and some information from it's title, and another to use the book cover and author photo if it's available.
    <br> It was an amazing challenge to put everything to work properly.             

</p>

<h2 class="about">Contact</h2>
<div class="profiles-container">
    <p>
        <img src="images/linkedin.jpg" alt="LinkedIn_Logo" class="logo"><a href="https://www.linkedin.com/in/pedro-rodrigues-355311146/" class="profiles"><strong>LinkedIn</strong></a>
        <br>
    </p>
    <p>
        <img src="images/GitHub.png" alt="GitHub_Logo" class="logo"><a href="https://github.com/Pedro-Rodrigues-1992" class="profiles"><strong>Github</strong></a>
        <br>
    </p>
</div>
    

<%- include ("partials/footer.ejs") %>