<%- include ("partials/header.ejs") %>

<div class="notFound-container">
    <img src="/images/404.jpg" class="notFound" alt="404 not Found">
    <h2 class="notFound">Sorry, page not Found</h2>
</div>

<%- include ("partials/footer.ejs") %>

